
body {
    background-color: black;
}

.section {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    background-color: #101010;
}

.bg-light {
    background-color: #6c757d;
}

a:hover {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
    font-weight: 600 !important;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    line-height: 2;
    color: #DCDCDC;
}

h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    color: #DCDCDC;
}

h5 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 16px 0 16px 0;
}

p, li {
    color: #6c757d;
    font-family: 'Nunito', sans-serif;
}

a {
    font-family: 'Nunito', sans-serif;
}

/******************** NAVIGATION ************************/

.sticky-nav {
    position: sticky;
}

.custom-nav {
    background-color: transparent;
    padding: 25px 0;
    width: 100%;
    border-radius: 0px;
    z-index: 999;
    margin-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.nav-link {
    color: #fff;
    background-color: transparent;
    font-size: 16px;
    padding: 0 20px;
    text-align: right;
}

.custom-nav.stickyadd {
    padding: 8px 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.custom-nav .navbar-brand.logo img {
    height: 30px;
}

a.nav-link:active {
    color: pink;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-toggler:not(:disabled):not(.disabled) {
    outline-color: transparent;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/******** MOBILE VIEW *********/

@media (max-width: 575.98px) {
    
    .custom-nav {
        padding: 4% 0;
    }

    .navbar-toggler { 
        margin-left: 19rem;
    }

    .navbar-collapse {
        background-color: black;
        margin: 20px 0;
    }

    .nav-link {
        margin: 25px 0;
    }

    h1.header-title {
        font-size: 55px;
    }

    .cv-exp .cv-exp-box {
        margin-left: 5px !important; 
        margin-right: 5px;
    }

    #cv.section {
        padding-bottom: 0;
    }

    .cv-exp::after {
        display: none;
    }

    .cv-exp .cv-exp-box .cv-exp-year::after {
        display: none;
    }

    #recommendations {
        display: none;
    }

    p.dark-bg-description {
        font-size: 1.1rem;
    }
}


/******************** INTRO ************************/

.subtitle {
    color: darkgray;
    margin: 0 10%;
}


.intro-bg {
    background-image: url(../images/josie-feature-pic.jpg);
    background-position: center top;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h-100vh {
    height: 100vh;
}

.bg-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.intro-text {
    margin: 100px 0;
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

.header-title {
    font-size: 72px;
    font-weight: 400;
    line-height: 1.2;
}

.list-inline-item {
    display: inline-block;
    margin-right: .5rem;
}

.social-media {
    color: #fff;
}

.social-media li a {
    font-size: 22px;
    color: #ffffff;
    display: inline-block;
    width: 30px;
    text-align: center;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    letter-spacing: 1px;
    transition: all 0.5s;
    font-size: 15px;
}

.btn-rounded {
    border-radius: 30px;
}

.btn {
    padding: 12px 26px;
    display: inline-block;
}

a.btn:hover{
    background-color: #fff;
    color: black;
}

.scroll_down {
    position: absolute;
    bottom: 5vh;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 13px;
    z-index: 8;
}

.scroll_down i {
    position: relative;
    animation: bounce 2s infinite;
    height: 50px;
    width: 30px;
    line-height: 60px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    display: inline-block;
    color: #fff;
    font-size: 12px;
}


/******************** EXPERIENCE ************************/

.cv-exp-title {
    font-weight: 700;
    font-size: 1.3rem;
    color: #DCDCDC;
}

.cv-exp-company {
    font-size: 1rem;
    color: #DCDCDC;
}

.cv-exp {
    padding: 10px 0;
    position: relative;
}

.cv-exp::after {
    content: "";
    height: 100%;
    left: 0;
    background-color: #e7e7e7;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}

.cv-exp .cv-exp-box {
    border-radius: 7px;
    border: 1px solid #e7e7e7;
    margin-left: 20px;
    padding: 20px;
}

.cv-exp .cv-exp-box .cv-exp-year {
    position: relative;
    margin: 0 0 10px 0 !important;
}

.cv-exp .cv-exp-box .cv-exp-year::after {
    border: 3px solid #DCDCDC;
    border-radius: 50%;
    content: "";
    height: 20px;
    background-color: #000;
    position: absolute;
    left: -50px !important;
    width: 20px;
    z-index: 1;
}

.cv-exp .cv-exp-box .cb-exp-detail {
    text-align: left;
    margin-left: 15px;
    float: left;
    border-radius: 0;
}

/************* RECOMMENDATIONS ***************/

#recommendations h2 {
    font-size: 2rem;
    color: #fff;
  }
  
.bg-image-recco {
     background-image:url(https://source.unsplash.com/1600x800/?mountains);
     background-size: cover;
     min-height: 400px;
     position: relative;
     z-index: 1;
  }
  
#recommendations.bg-overlay-recco:after {
      content:"";
      top:0;
      bottom:0;
      left:0;
      right:0;
      background:rgba(0,0,0,0.7);
      position:absolute;
      z-index: 2;
  }
  
  .slideshow {
    text-align: center;
    color: #fff;
    padding: 80px 0;
    z-index: 3;
    position: relative;
  }
  
  .container-fluid {
    padding: 7% 15%;
  }
  
  .recco-quote {
    color: #fff;
    font-size: 1.5rem;
  }

  .recco-author {
    color: #fff;
    font-size: 1.2rem;
}

/******************** CERTIFICATIONS ************************/

.cert-icon i {
    font-size: 1.5rem;
    color: #DCDCDC;
}

.cert-icon-hubspot i{
    font-size: 1.8rem;
    color: #DCDCDC;
}

.cert-box {
    border: 1px solid #e7e7e7;
}

/******************** AWARDS ************************/

.award-title {
    margin: 3% 10%;
}

.container-fluid-awards {
    padding: 3% 0;
  }

.dark-bg-title h2{
    color: #fff;
}

.dark-bg-description{
    font-size: 1.5rem;
    max-width: 700px;
    color: #fff;
}

.nwa-biz-journal img {
    height: 70px;
}

.bg-image-award {
    background-image:url(https://source.unsplash.com/1600x800/?nature);
    background-size: cover;
     min-height: 400px;
     position: relative;
     z-index: 1;
}


  /************* CONTACT ***************/

.footer-section  {
position: relative;
background-color: #101010;
}

.contact {
      text-align: center;
  }
